<div class="container">
  <h3>{{ 'USER.TITLE' | translate }}</h3>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">{{ 'USER.EMAIL' | translate }}: {{ user.email }}</p>
      <p class="card-text">{{ 'USER.FIRSTNAME' | translate }}: {{ user.firstName }}</p>
      <p class="card-text">{{ 'USER.LASTNAME' | translate }}: {{ user.lastName }}</p>
      <button class="btn btn-primary" (click)="confirmEdit()">{{ 'USER.EDITUSER' | translate }}</button>
      <button class="btn btn-primary" (click)="confirmEditPassword()">{{ 'USER.EDITPASSWORD' | translate }}</button>
      <button class="btn btn-danger" (click)="confirmDelete()">{{ 'USER.DELETEUSER' | translate }}</button>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngClass]="{ 'd-block': confirmDeleteModalVisible }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'ACTION.DELETE.DEFAULT' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelDelete()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'ACTION.DELETE.USER' | translate }}</p>
        <div class="form-group">
          <label for="foodName">{{ 'USER.ENTERPASSWORD' | translate }}</label>
          <input type="text" class="form-control" id="foodName" [(ngModel)]="password">
        </div>
      </div>
      <div class="modal-footer">
        <div *ngIf="passwordError" class="alert alert-danger">{{ 'WARN.INCORRECTPASSWORD' | translate }}</div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelDelete()">{{ 'BUTTON.CANCEL' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser()">{{ 'BUTTON.OK' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngClass]="{ 'd-block': confirmEditModalVisible }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'USER.EDITUSER' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelEdit()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="foodName">{{ 'USER.FIRSTNAME' | translate }}:</label>
          <input type="text" class="form-control" id="foodName" [(ngModel)]="user.firstName">
        </div>
        <div class="form-group">
          <label for="foodName">{{ 'USER.LASTNAME' | translate }}:</label>
          <input type="text" class="form-control" id="foodName" [(ngModel)]="user.lastName">
        </div>
        <div class="form-group">
          <label for="foodName">{{ 'USER.ENTERPASSWORD' | translate }}:</label>
          <input type="text" class="form-control" id="foodName" [(ngModel)]="password">
        </div>
      </div>
      <div class="modal-footer">
        <div *ngIf="passwordError" class="alert alert-danger">{{ 'WARN.INCORRECTPASSWORD' | translate }}</div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelEdit()">{{ 'BUTTON.CANCEL' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="editUser()">{{ 'BUTTON.OK' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngClass]="{ 'd-block': confirmEditPasswordModalVisible }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'USER.EDITPASSWORD' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelEditPassword()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="foodName">{{ 'USER.NEWPASSWORD' | translate }}:</label>
          <input type="text" class="form-control" id="foodName" [(ngModel)]="newPassword">
        </div>
        <div class="form-group">
          <label for="foodName">{{ 'USER.OLDPASSWORD' | translate }}:</label>
          <input type="text" class="form-control" id="foodName" [(ngModel)]="password">
        </div>
      </div>
      <div class="modal-footer">
        <div *ngIf="passwordError" class="alert alert-danger">{{ 'WARN.INCORRECTPASSWORD' | translate }}</div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelEditPassword()">{{ 'BUTTON.CANCEL' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="editPassword()">{{ 'BUTTON.OK' | translate }}</button>
      </div>
    </div>
  </div>
</div>